<div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-height-viewport uk-width-1-1">
    <h1 class="uk-heading-large uk-text-bold uk-margin-small-bottom">404</h1>
    <p class="uk-text-large uk-text-center">You are not allowed to edit or delete authors you did not create <br />Back
        to <a href="/authors">authors</a></p>
</div>